*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
}

.part1{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 15px 100px 10rem;
}
.nav-links{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

main { 
    display: flex;
    margin: auto;
    padding-bottom: 10rem;
    gap: 3em;
}

.main2 > img{
    width: 45em;
    height: 350px;
}

.main1{
    align-self: center;
    font-size: large;
    color: aliceblue;
}
.main1 > h1 {
    font-size: 50px;
    max-width: 600px;
}
.main1 > p {
    max-width: 600px;
    padding-bottom: 10px;
}

.main1 > button {
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: white;
    width: 110px;
    font-weight: bolder;
}

.part2{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 6em 10em;
}

.card {
  width: 15em;
  height: 15em;
  border-radius: 10px;
  border: 3px solid #3882f6;
  flex-shrink: 0;
}

.card-container{
    display: flex;
    gap: 8em;
    justify-content: center;
}

.part2-heading {
    margin: auto;
    padding-bottom: 5em;
}

.card1{
    background-image: url("./assets/solidusC.webp");
    background-size: cover;
}
.card2{
    background-image: url("./assets/FortuneC.webp");
    background-size: cover;
}
.card3{
    background-image: url("./assets/VampC.webp");
    background-size: cover;
}
.card4{
    background-image: url("./assets/fatfuckC.webp");
    background-size: contain;
}

.cc-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    max-width: min-content;
}

.part3{
    background-color: #e5e7eb;
    padding: 7em;
    font-size: 30px;
}
q {
    max-width: fit-content;
}
figcaption {
    padding-top: 20px;
}

.part4{
    background-color: white;
    padding: 10em;
    color: white;
}

.cta{
    background-color: #3882f6;
    padding: 50px;
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    font-weight: bolder;
}

.cta > button {
    color: white;
    background-color: #3882f6;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 120px;
    font-weight: 900;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}